{%- assign blog = blogs[section.settings.blog] -%}

{% if section.settings.divider %}<div class="section--divider">{% endif %}
{% if blog.handle contains 'magazine' %}
<section id="l-magazine">
  <div class="c-container">
    {% if blog.handle contains 'magazine' %}
      <div class="p-titlebox c-slideup">
        <img src="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/homealmagazine_title.png?v=1634107962" data-src="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/homealmagazine_title.png?v=1632797182">
      </div>
    {% else %}
      <div class="p-titlebox c-slideup">
        <figure class="p-topic_imageBox">
          <picture>
            <source media="(min-width: 769px)" srcset="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/title_topics.png?v=1642493519">
            <img src="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/title_topics2_sp.png?v=1642493576" data-src="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/title_topics2_sp.png?v=1642493576" class="lazyload" alt="">
            </source>
          </picture>
        </figure>
      </div>
    {% endif %}
    {% unless blog.empty? or blog.articles.size == 0 %}
     <ul class="p-magazine__flows c-slideup">
     {% for article in blog.articles limit: section.settings.post_limit %}
      <li class="p-magazine__flow">
        {% if article.image %}
          <a href="{{ article.url }}">
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: article.image.aspect_ratio }}%;">
              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ article.title | escape }}">
              <noscript>
                <img class="lazyloaded" src="{{ article.image | img_url: '400x' }}" alt="{{ article.title | escape }}">
              </noscript>
            </div>
          </a>
        {% endif %}
        {% if section.settings.blog_show_tags and article.tags.size > 0 %}
        <div class="p-magazine__tags">
          {% for tag in article.tags %}
            {% if tag contains "Ask" %}
              <span>homealの専門家にきく🥕</span>
            {% elsif tag contains "Life" %}
              <span>homealのある暮らし🥕</span>
            {% elsif tag contains "News" %}
              <span>homealからのおしらせ🥕</span>
            {% elsif tag contains "Tell" %}
              <span>おしえてhomeal🥕</span>
            {% elsif tag contains "people" %}
              <span>homealのひとびと🥕</span>
            {% elsif tag contains "recipes" %}
              <span>homealとレシピ🥕</span>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        <p class="p-magazine__flow__text">

          <a href="{{ article.url }}" class="">{{ article.title }}</a>
        </p>
        {% if section.settings.blog_show_date %}
          <div class="p-magazine__date">{{ article.published_at | time_tag: '%Y.%m.%d' }}</div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endunless %}
    {% if section.settings.view_all %}
      <a href="{{ blog.url }}"  class="p-topics__linkbtn c-slideup">もっと見る</a>
    {% endif %}
  </div>
</section>
{% elsif blog.handle contains 'topic' %}
<section id="l-magazine">
  <div class="c-container">
      <div class="p-titlebox c-slideup">
        <figure class="p-topic_imageBox">
          <picture>
            <source media="(min-width: 769px)" srcset="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/title_topics.png?v=1642493519">
            <img src="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/title_topics2_sp.png?v=1642493576" data-src="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/title_topics2_sp.png?v=1642493576" class="lazyload" alt="">
            </source>
          </picture>
        </figure>
      </div>
    {% unless blog.empty? or blog.articles.size == 0 %}
     <ul class="p-topic__flows c-slideup">
     {% for article in blog.articles limit: section.settings.post_limit %}
      <li class="p-topic__flow">
        {% if article.image %}
          <a href="{{ article.url }}">
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: article.image.aspect_ratio }}%;">
              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ article.title | escape }}">
              <noscript>
                <img class="lazyloaded" src="{{ article.image | img_url: '400x' }}" alt="{{ article.title | escape }}">
              </noscript>
            </div>
          </a>
        {% endif %}
        <p class="p-magazine__flow__text">
          <a href="{{ article.url }}" class="">{{ article.title }}</a>
        </p>
        {% if section.settings.blog_show_date %}
          <div class="p-magazine__date">{{ article.published_at | time_tag: '%Y.%m.%d' }}</div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endunless %}
    {% if section.settings.view_all %}
      <a href="{{ blog.url }}"  class="p-topics__linkbtn c-slideup">もっと見る</a>
    {% endif %}
  </div>
</section>
{% elsif blog.handle contains 'news' %}
<section id="l-topics">
  <div class="c-container">

    {% if section.settings.title_en != blank or section.settings.title_jp != blank %}
      <div class="p-titlebox c-slideup">
        {% if section.settings.title_en != blank %}
          <h1 class="p-title">{{ section.settings.title_en }}</h1>
        {% endif %}
        {% if section.settings.title_jp != blank %}
          <p class="p-title--japanese">{{ section.settings.title_jp }}</p>
        {% endif %}
      </div>
    {% elsif blog.handle contains 'news' %}
      <div class="p-titlebox c-slideup">
        <figure class="p-topics_imageBox">
          <picture>
            <source media="(min-width: 769px)" srcset="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/topics_title.png?v=1634108150">
            <img src="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/title_topics_sp.png?v=1634108150" data-src="https://cdn.shopify.com/s/files/1/0412/4347/6136/files/title_topics_sp.png?v=1634108150" class="lazyload" alt="">
            </source>
          </picture>
        </figure>
      </div>
      <div class="p-titlebox c-slideup">
      
    {% endif %}

    {% unless blog.empty? or blog.articles.size == 0 %}

      <ul class="p-topics__lists c-slideup">
        {% for article in blog.articles limit: section.settings.post_limit %}
          <li class="p-topics__list">
            {% if section.settings.blog_show_date or article.tags.size > 0 or articles.comments_count > 0 %}
              {% if section.settings.blog_show_tags and article.tags.size > 0 %}
                {% for tag in article.tags %}
                  {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a> &middot;
                {% endfor %}
              {% endif %}
              {% if section.settings.blog_show_comments and article.comments_count > 0 %}
                <a href="{{ article.url }}#comments">
                  {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                </a> &middot;
              {% endif %}
              {% if section.settings.blog_show_date %}
                <div class="p-topics__date">{{ article.published_at | time_tag: '%Y.%m.%d' }}</div>
              {% endif %}
            {% endif %}

            <h2 class="p-topics__title"><a href="{{ article.url }}" class="">{{ article.title }}</a></h2>

            {% if section.settings.blog_show_author %}
              <div class="">by {{ article.author }}</div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

    {% endunless %}

    {% if section.settings.view_all %}
      <a href="{{ blog.url }}"  class="p-topics__linkbtn c-slideup">もっと見る</a>
    {% endif %}

  </div>

</section>
{% endif %}

{% if section.settings.divider %}</div>{% endif %}

{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title_en",
        "label": "Heading English"
      },
      {
        "type": "text",
        "id": "title_jp",
        "label": "Heading Japanese"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "default": 3,
        "min": 3,
        "max": 12,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count"
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "view_all",
        "label": "Show 'View all' button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
